body {
    font-family: 'Poppins', sans-serif;
}

.colorDev {
    background-color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin: 20%;
}

.half-width img {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;

}